@import url("//hello.myfonts.net/count/2cc60a");

  
@font-face {font-family: 'TradeGothicNextLTPro-Bd';src: url('/fonts/webfonts/2CC60A_0_0.eot');src: url('/fonts/webfonts/2CC60A_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/webfonts/2CC60A_0_0.woff2') format('woff2'),url('/fonts/webfonts/2CC60A_0_0.woff') format('woff'),url('/fonts/webfonts/2CC60A_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TradeGothicNextLTPro-Rg';src: url('/fonts/webfonts/2CC60A_1_0.eot');src: url('/fonts/webfonts/2CC60A_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/webfonts/2CC60A_1_0.woff2') format('woff2'),url('/fonts/webfonts/2CC60A_1_0.woff') format('woff'),url('/fonts/webfonts/2CC60A_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TradeGothicNextLTPro-Lt';src: url('/fonts/webfonts/2CC60A_2_0.eot');src: url('/fonts/webfonts/2CC60A_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/webfonts/2CC60A_2_0.woff2') format('woff2'),url('/fonts/webfonts/2CC60A_2_0.woff') format('woff'),url('/fonts/webfonts/2CC60A_2_0.ttf') format('truetype');}

/*@font-face {
    font-family: "Trade Gothic";
    src: url("../fonts/2D2FC2/2D2FC2_1_0.woff") format('woff');
}

@font-face {
    font-family: "Trade Gothic";
    src: url("../fonts/2D2FC2/2D2FC2_0_0.woff") format('woff');
    font-weight: bold;
}*/