body {
	margin: 0px;
	padding: 0px;
}

.header-box {
	background-color: #2C3E50;
}

.header-box .title {
	color: #ffffff;
}

.navbar-xs { min-height:28px; height: 28px; }
.navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }

.panel.noborder {
    border: none;
    box-shadow: none;
}
.panel.noborder > .panel-heading {
    border: 0px solid #dddddd;
    border-radius: 0;
}

.bg-blue-1 {
	background-color: #19a9d5 ;
}
.bg-blue-1 .text-lt {
	color: #eaebed;
}
.f-s-18 {
	font-size: 18px;
}

.unblock {
	display: inline;
}

.bg-brand-1 {
	background-color: #00385b ;
}
.text-brand-1 {
	color: #00385b;
}
.bg-ltyellow {
	background-color: #ffffe6;
}
.bg-ltblue {
	background-color: #e6eeff;
}
.bg-ltinfo {
	background-color: #b3f0ff;
}
.bg-ltdanger {
	background-color: #ffc2b3;
}

.table-borderless td, .table-borderless th {
	border: 0px;
}

.cpointer {
	cursor: pointer;
}

.unclickable {
	pointer-events: none;
}

.box-action-1 {
	padding-top: 7px;
}

.p-sm {
	padding: 10px 0 10px 0;
}

.p-r-sm {
	padding-right: 10px;
}

.p-l-sm {
	padding-left: 10px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}